
<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark border-bottom box-shadow mb-3 px-5">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">My gallery</a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon color-white"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Home</a>
                </li>
                @if (User.IsInRole("ADMIN"))
                {                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index" ,"Admin")">Admin Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Message" ,"Admin")">Messaggi</a>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index" ,"Admin")">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Message" ,"User")">Invia Messaggio</a>
                    </li>

                }

            </ul>

            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>
