@{
    ViewData["Title"] = "Home Page";
}
<div class="col-6 mx-auto">
    <input class="form-control form-control-sm bg-transparent text-white mb-4 col-6" type="text" oninput="initIndex(value)" placeholder="Filtra foto per titolo">
</div>
<div id="table" class="container d-flex justify-content-center row gap-4">



</div>

@section Scripts
{
    <script>
        initIndex();
    </script>
}