

<form method="post" class="d-flex flex-wrap justify-content-start gap-3 text-white-50 w-75" id="form">

	@*Message*@
	<div class="mb-3 col-12">
		<label class="col-form-label">Messaggio</label>
		<textarea required class="form-control" placeholder="Scrivi qua il tuo messaggio" id="text"></textarea>
		<span class="text-danger"></span>
	</div>

	@*submit*@
	<button type="submit" class="btn btn-dark">Invia</button>
</form>

@section Scripts
	{
	<script>
		initForm();
	</script>
}