

<form method="post" class="d-flex flex-wrap justify-content-start gap-3 text-white-50">

	@*Name*@
	<div class="mb-3 col-4">
		<label class="col-form-label">Nome</label>
		<input class="form-control" />
		<span class="text-danger"></span>
	</div>

	@*Surname*@
	<div class="mb-3 col-4">
		<label class="col-form-label">Cognome</label>
		<input class="form-control" />
		<span class="text-danger"></span>
	</div>

	@*Email*@
	<div class="mb-3 col-6">
		<label class="col-form-label">Email</label>
		<input class="form-control" />
		<span class="text-danger"></span>
	</div>



	@*Messaggio*@
	<div class="mb-3 col-12">
		<label class="col-form-label">Description</label>
		<textarea class="form-control" placeholder="Scrivi qua il tuo messaggio"></textarea>
		<span class="text-danger"></span>
	</div>

	@*submit*@
	<button type="submit" class="btn btn-dark">Create</button>
</form>